body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cont {
    border: dotted 2px;
    padding: 15px;
    width: 350px;
}
.cont img {
    width: 200px;
}
.cont h2 {
    font-size: 30px;
}